body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  color: white;
}
.gf {
  font-family: "Noto Sans JP", sans-serif;
}
h1 {
  font-size: 3em;
  letter-spacing: 0.2em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.05em;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.block {
  display: block;
  width: 100vw !important;
  border: none;
  outline: none;
  text-align: left;
}
#open-nav-parent {
  position: fixed;
  background-color: white;
}
#open-nav-parent:hover {
  background-color: #efefef;
}
#open-nav-parent #open-nav {
  display: flex;
  background-color: Transparent !important;
}
#navbar {
  border-style: solid;
  border-color: #efefef;
  position: fixed;
  background-color: #0c0c42 !important;
}
#navbar #close-nav {
  background-color: white;
}
#navbar #close-nav:hover {
  background-color: #efefef;
}
#navbar #nav-title:hover {
  background-color: Transparent !important;
}
#navbar a:hover {
  color: white !important;
  background-color: #1c1c98 !important;
}
#heading {
  background-color: #0c0c42;
  text-align: center;
  padding-bottom: 2vh;
}
#heading #heading-content {
  margin: 0;
}
#heading #heading-content h1 {
  margin-top: 8vh;
  margin-bottom: 0;
}
#heading #heading-content h3 {
  margin-top: 0;
}
.section {
  color: black;
  width: 100vw;
  height: 100vh;
}
.section h3 {
  margin-top: 8vh;
}
