// style.less
@import "variables.less";

// TODO: Dark and light theme ui
// TODO: V units into (r)em

body,
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    color: black;

    * {
        font-family: "Noto Sans JP", sans-serif !important;
    }
}

h1 {
    font-size: 3em !important;
    letter-spacing: @spacing;
}

h2,
h3 {
    font-size: 1.5em !important;
}

h3 {
    letter-spacing: 0.05em;
    text-transform: uppercase !important;
}

h4 {
    font-size: 1.18em !important;
    font-weight: 600 !important;
}

h5  {
    font-size: 1em !important;
    font-weight: 600 !important;
    font-style: oblique;
    margin: 0 !important;
}

p {
    margin-block-start: 1.5em;
    margin-block-end: 1.5em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

button {
    cursor: pointer;
}

hr {
    border-top: 3px solid @gray !important;
}

ul {
    margin-top: 1.5em !important;
    margin-bottom: 1.5em !important;
}

li {
    margin: 0 !important;

}

.block {
    display: block;
    width: 100vw !important;
    border: none;
    outline: none;
}

section {
    width: 93vw !important;
    margin: auto;

    :first-child {
        margin-top: 1.5em;
    }

    :last-child {
        padding-bottom: 1.5em;
    }
}

p.h5-inline {
    h5 {
        display: inline-block;
    }
}

.real-smol-text {
    font-size: .7em !important;
}